# Ignore node_modules everywhere
**/node_modules/

# Ignore build outputs
web/.next/
backend/dist/

# Ignore environment files
#.env
#**/.env*

# Ignore log files
*.log
npm-debug.log*

# Ignore editor and OS files
.vscode/
.DS_Store
Thumbs.db


.codesandbox

# Ignore prisma/migrations if needed (optional)
# backend/prisma/migrations/

# Ignore lockfiles if not used
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
